// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app{
    width: 70%;
    margin: auto;
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
}